.combobox-label{
    overflow: hidden;
    text-wrap: initial;
    display: flex;
    position: relative;
    justify-content: center;
    top: 15px;
}

.combobox{
    margin: 0 20px 0 20px;
    box-shadow: 10px 10px 10px 10px #efeeee;
    background-color: #ffffff;
    border: 0px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    text-align-last: center;
    cursor: pointer;
}

.combobox:focus{
    outline: none;
}

.combobox:hover{
    box-shadow: 0 2px 0 3px #bfbfbf;
    border-radius: 10px;
}

.combobox-ul{
    position: relative;
    padding-top: 35px;
    right: 30px;
}

.comboAnimation-enter-active{/*, .comboAnimation-leave-active {*/
    transition: all 0.5s;
}

.comboAnimation-enter{/*, .comboAnimation-leave-to {*/
    opacity: 0.3;
    transform: translateY(-50%);
}

.li-combobox{
    width: 100%;
    border-radius: 10px;
    min-height: 40px;
    max-height: 80px;
    margin: 10px;
    list-style-type: none;
    word-break: break-word;
    overflow: hidden;
}
.first{
    background-color: #b1b0b0;
}

.first:hover{
    background-color: #f8f6f6;
    box-shadow: 0 5px 0 3px #b1b0b0;
}

.second{
    background-color: #f8f6f6;
}

.second:hover{
    background-color: #b1b0b0;
    box-shadow: 0 5px 0 3px #888888;
}