.main-login{
    font-family: verdana;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
}

.main-work{
    font-family: verdana;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-size{
    height: 100%;
    width: 100%;
    overflow: hidden;
}