.mainTable{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.columnTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 55px;
    max-height: 100%;
}

.dataTable{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 10%;
    max-height: 100%;
}

.tableAdd{
    width: 32px;
    height: 32px;
    min-height: 32px;
    border: none;
    background-color: transparent;
    margin: 10px;
    background-image: url("../../../src/assets/table/plus_32.png");
    cursor: pointer;
    outline:none;
}

.tableAdd:hover{
    border-radius: 30px;
    background-color: #d6efc5;
    box-shadow: 0 0 30px 2px #80cf4d;
}

.dataAnimation-enter-active {
    transition: all 1s  ;
}

.dataAnimation-enter{
    opacity: .5;
    transform: translateY(30%);
}

.dataAnimation-leave-active {
    animation: shake 1.5s ;
}
@keyframes shake {
    10% {
        transform: translateX(-10%)
    }
    30% {
        transform: translateX(10%)
    }
    100% {
        transform: translateX(-100%);
    }
}